.L-about-web{
    color: rgb(245, 241, 241);
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 500;
    line-height: 1.2;
}
.L-about-website{
    display: flex;
    width: 100%;
    margin-top: 20px;
    gap: 30px;
}
.L-about-image{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-bold{
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
.L-about-website1{
    width: 59%;
}
.L-about-website-img{
    width: 40%;
    height: 275px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.L-about-website-p{
    color: #353039;
    line-height: 1.8;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}
.L-about-column{
    margin-top: 50px;
    padding-top: 50px;
}
.L-about-column-l{
    padding: 50px;
    padding-bottom: 70px;
    background-color: #000c7699;
}
.L-about-3columns{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 30px;
}
.L-about-column1{
    width: 32%;
}
.L-about-column-icon{
    color: rgb(51, 20, 122);
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 3em;
}
.L-about-col-icon-div{
    width: 150px;
    height: 150px;
    border: 1px solid #009999;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem!important;
}
.L-about-column-btn{
    background-color: #009999;
    border: 0;
    border-radius: 5px;
    padding: 12px 50px 14px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}
.L-about-head{
    -webkit-text-stroke: 0.5px rgb(135, 42, 210);
    color: rgb(18, 4, 66);
    text-align: center;
    font-size: 40px;
}
.L-about-p{
    color: rgb(79, 39, 122);
    text-align: center;
    padding-top: 7px;
}
.L-about-pp{
    color: rgb(79, 39, 122);
    text-align: center;
    padding-top: 7px;
    font-size: 20px;
}
.L-about-upper{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    gap: 50px;
}
.L-about-centered{
    width: 50%;
}
.L-about-img{
    width: 50%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
}
.L-about-feat{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #806c961c;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.L-about-feat-in{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.L-about-feat-desc{
    width: 45%;
}
.L-about-feat-img{
    width: 40%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.L-about-feat-desc-text{
    color: #1d0c36;
    font-size: 28px;
    padding-top: 50px;
}
.L-about-feat-desc-textp{
    color: #7e7f87;
}