.L-main{
    width: 100%;
    background-color: white;
}
.L-main-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.L-main-head{
    -webkit-text-stroke: 0.5px rgb(135, 42, 210);
    color: rgb(18, 4, 66);
    text-align: center;
    font-size: 40px;
}
.L-main-body-inner{
    padding-top: 40px;
}
.L-main-p{
    color: rgb(79, 39, 122);
    text-align: center;
    padding-top: 7px;
}
.L-main-upper{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
}
.L-centered{
    width: 50%;
}
.L-cont-img{
    width: 50%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
}
.container {
    position: relative;
    text-align: center;
    color: black;
  }
  .L-main-features{
    margin: 50px 0;
  }
  .L-main-photo{
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 10px 10px 8px #888888;
  }
  .L-main-feat-t{
    width: 500px;
    color: black;
    font-size: 18px;
  }
  .L-main-feat1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
  }
  .L-main-headline{
    -webkit-text-stroke: 0.5px rgb(74, 23, 125);
    display: flex;
    justify-content: center;
    color: black;
    margin: 50px 0;
    font-size: 30px;
  }
.L-main-how{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px 0;
    background-color: #000c7699;
}
.L-main-review{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.L-sub{
    width: 70%;
    background-color: rgba(217, 217, 222, 0.305);
    margin: 50px auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.L-sub-inner{
    padding: 100px 0;
}
.L-sub-p{
    font-size: 25px;
    font-weight: bold;
    color: rgb(38, 12, 66);

}
.L-sub-h3{
    color: black;
    margin-top: 10px;
}
.L-sub-btn{
    border: none;
    color: white;
    background-color: rgb(54, 0, 147);
    padding: 20px 30px;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}
.L-sub-btn:hover{
    background-color: rgb(54, 0, 201);
    transition: 0.5s ease-in-out;
}
.wrapper{
    display: flex;
    height: 55vh;
    width: 100vw;
    justify-content: center;
}
.accordion-title{
    font-size: 21px;
    font-weight: bolder;
}
.accordion{
    width: 650px;
}
.item{
    border-bottom: 1px solid gray;
    margin-bottom: 12px;
    padding: 15px 25px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(62, 17, 108);
    cursor: pointer;
}
.answer{
    color: #787777;
    max-height: 0;
    overflow: hidden;
    transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   
}
.answer.show{
    height: auto;
    max-height: 9999px;
    transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.L-FAQ{
    margin-bottom: 150px;
    padding-bottom: 150px;
}
.L-faq-btn{
    font-size: 24px;
}