.L-main-say{
    text-align: center;
    width: 250px;
}
.L-main-say-img{
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
}
.L-main-say-pos{
    color: rgb(147, 147, 144);
    margin-top: 10px;
}
.L-main-say-desc{
    color: black;
    margin-top: 20px;
}