svg {
  display: unset;
}
.icon{
    width: 40px !important;
    height: 40px !important;
    color: rgb(217, 217, 224);
  }
  .L-main-step{
    width: 260px;
    text-align: center;
  }
  .L-main-h3{
    color: black;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 10px;
  }
  .L-main-stepp{
    color: black;
    margin-top: 10px;
  }
  .L-main-btn{
    margin-top: 10px;
    border: none;
    background-color: transparent;
    color: rgb(176, 207, 255);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
  }