*{
    margin: 0;
    padding: 0;
}
.App{
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.App-main{
    background-color: rgba(215, 238, 245, 0.569);
}